[Unit]
Description=Luncher background daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/luncher --daemon
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
